/* common things starts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.bttn:hover {
    background-color: #6d54da !important; /* Change background color on hover */
    color: rgb(255, 255, 255) !important;         /* Change text color on hover */
    transform: scale(1.1);    /* Slightly enlarge the button */
  }
body{
    background: rgb(245, 245, 245);
}
/* common things ends */

/* first page starts */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 220px 24px 160px;
}
.hero-section{
    margin: 20px 160px 80px 160px;
    padding: 80px 100px 80px 60px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    width: 1280px;
    height: 560px;
}
.hero-section .hero-container{
    display: flex;
    justify-content: space-between;
    gap: 64;
}

.heading1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    width: 257px;
}
#p1-b1{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    background: rgb(255, 255, 255);
}

.hero-container .hero-headings{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.hero-section .hero-container .p1-h1{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.hero-section .hero-container .p1-h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    width: 622px;
}

.hero-section #p1-b2{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 312px;
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
}
/* first page ends */

/* second page starts */
.page-2{
    margin: 80px 160px 80px 160px;
}

.page-2 .p2-h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.page-2 .frame-container{
    position: static;
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    padding: 0px;
    }

.page-2 .frame-container .frame{
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.page-2 .frame-container .frame-header{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.page-2 .frame-container .frame-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
/* second page ends */

/* third page starts */
.page-3{
    margin: 80px 160px 80px 160px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}

.page-3 .p3-h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 46px;
    font-weight: 700;
    line-height: 55.5px;
    letter-spacing: 0%;
    text-align: left;
}

.page-3 .p3-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 18.49px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.page-3 .card-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    padding: 0px;
}

.page-3 .card-container .card{
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
}

.page-3 .card-container #card-1{
    background: rgba(84, 144, 245, 0.2);
}

.page-3 .card-container #card-2{
    background: rgb(198, 228, 214);
}

.page-3 .card-container #card-3{
    background: rgb(247, 235, 207);
}

.page-3 .card-container .card-heading{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.page-3 .card-container .card-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 18.49px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.page-3 .card-container .card .bttn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18.5px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 9.2px;
    padding: 13px 23px 13px 23px;
    border: none;
}
.page-3 .card-container .card #p3-b1{
    background: rgb(84, 144, 245);
}
.page-3 .card-container .card #p3-b2{
    background: rgb(9, 161, 92);
}

.page-3 .card-container .card #p3-b3{
    background: rgb(255, 194, 57);
}

.page-3 .speech{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px 65px 48px 24px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    width: 1441px;
}

.page-3 .speech .speech-content{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 18.5px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.page-3 .speech .name{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 23px;
    font-weight: 600;
    line-height: 28 px;
    letter-spacing: 0%;
    text-align: left;
}

.page-3 .speech .position{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 18.5px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0px;
}

.page-3 .speech .quote-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/quote-bg.png') no-repeat center left;
    background-size: 75px;
    background-position: 46px 60px;
    z-index: 0; 
    margin: -20px;
}

/* third page ends */

/* fourth page starts */
.page-4{
    margin: 80px 0px 80px 160px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    width: 1280px;
}
.opinion-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.opinion-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;

    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    padding: 24px;
}

.opinion-table{
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 32px;
}

.opinion-table .opinion-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
}

.opinion-table .opinion-row .main-questions{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
    padding: 24px;
    width: 1180px;
    height: 92px;
}

.opinion-table .opinion-row .select-options{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
    padding: 24px;
    width: 200px;
}

.opinion-table .opinion-row .select-options .option{
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    padding: 10px 14px 10px 14px;
    height: 42px;
}
/* fourth page ends */

/* fifth page starts */
.page-5{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32;
    padding: 0px;
    margin: 80px 160px 80px 160px;
    width: 1440px;
}
.page-5 .p5-h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.page-5 .p5-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;width: 1280px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.page-5 .news-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0px;
}

.page-5 .news-container .news{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32PX;
    padding: 48px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}

.page-5 .news-container .news .news-icon img[src*="satelite.png"]{
    border-radius: 24px;
    background: url(image);
}

.page-5 .news-container .news .main-news .headline{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.page-5 .news-container .news .main-news .date{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.page-5 .news-container .news .main-news .news-content{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.page-5 .news-container .news .main-news .bttn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 13px 26px 13px 26px;
    border: none;

}
/* fifth page ends */

/* sixth page starts */
.page-6{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 0px;
    width: 1480px;
    margin: 80px 160px 80px 160px;
}

.page-6 .p6-h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.page-6 .p6-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0px 150px;
}

.page-6 .donation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 0px;
}

.page-6 .donation .amount{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.page-6 .donation #five{
    background: rgb(198, 228, 214);
}

.page-6 .other-amount{
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    padding: 20px 40px 20px 40px;
    border: none;
}
textarea::placeholder {
    text-align: center;
}

.page-6 .bttn{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
/* sixth page ends */

/* seventh page starts */
.page-7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 80px 160px 80px 160px;  
}

.page-7 .p7-h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.page-7 .p7-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 18.5px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

.page-7 .subscribe{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    padding: 0px;
}

.page-7 .bttn{
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
}

.page-7 .email{
    width: 600px;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    padding: 18px 40px 18px 40px;
    border: none;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
/* seventh page ends */

/* footer starts */
.footing{
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32;
    padding: 50px 160px 50px 160px;
}
.footing .final-heading{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.footing .image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footing .line{
    border: 1px solid rgba(14, 14, 14, 0.1) !important;
}
/* footer ends */